*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #E1E8EE;
    position: relative;
}

.cal_board{
    width: 30%;
    min-height: 50%;
    border-radius: 15px;
    background-color: #008573;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png"); 
  
    border: 2px solid cadetblue;
    background-color: rgb(100, 184, 187);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    
}



.cal_board h2 {
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Oleo Script', cursive; */
    text-align: center;
    padding: 5.4rem 0;

    font-size: 3.4rem;
    text-decoration: underline overline;
}


/* calulation */

.calculation{
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    padding: 2rem 7rem;
    position: relative;
}

.label{
    font-size: 1.8rem;
}

.input{
    width: 22rem;
    height: 2.8rem;
    padding: 1.7rem 2rem;  
    text-align: center; 

    font-size: 1.6rem;
    color: inherit;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s; 
}

input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a;
}



.btn{
    padding: .5rem 1rem;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    border-radius: 50px;
    outline: none;
    display: flex;

    background-color:rgba(226, 214, 214, 0.582);
    /* background: linear-gradient(135deg,rgb(88, 151, 119)  0, rgb(87, 131, 173) 100%);  */
    /* background: linear-gradient(135deg,rgb(125, 196, 159)  0, rgb(122, 171, 218) 100%);  */

}

.btn:not(:first-of-type):active {
	position:relative;
	top:2.5px;
}

.buttons{
position: relative;
}

.addbtn{
    position: absolute;
    right: 1.6rem;
    top: -1rem;

    font-size: 1.4rem;
    padding: 5px 25px;
    background-color: #fff;
}

.calbtn , .checkbtn{
    padding: 1rem 8rem;
    font-size: 2.5rem;
    letter-spacing: 1.4px;
    margin-bottom: 4.5rem; 
}


.showRslt{
    padding: 2rem 4rem;
    text-align: center;
    width: 30rem;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid black;
    transition: all 4s;
    overflow: hidden;
    display: none;
}

.fadeout{
    font-size: 2.2rem;
    font-weight: 550;
}

.fadeout:not(:first-of-type){
    padding-top: 1.5rem;
}

.fadeout:last-child{
    animation: fadein .45s cubic-bezier(.67,1.89,1,1.34);    
}

@keyframes fadein{
    0%{
        transform: translateY(38.5px);
    }

    100%{
        transform: translateY(0px);
    }
}



/* chiSquare plate*/

.chiSquare{
    padding-top: 6rem;
    display: none;
}

.checkbtn{
    margin-top: 5rem; 
}

.chkIt{
    transition: .3s all !important;
    color: white;
    font-size: 3.8rem;
}


.corner{
    display: none;
    position: absolute;
    bottom: 36px;
    right: 42px;

    background-color: transparent;
    border: 0px;
}

.fas{

    font-size: 20px;
}